@use "global" as *;

.about {
	background-color: #272625;
}

.about__inner {
	padding: rem(60) 0;
	@include mq(md){
		padding: rem(80) 0;
	}
}

.about__body {
	@include mq(md){
		// position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: flex-start;
		gap: rem(40);
		margin-top: rem(72);
		margin-inline: auto;
	}
}

.about__title {
	font-size: rem(14);
	letter-spacing: 0.3em;
	line-height: 2.3;
	color: $base-color;
	font-weight: $regular;
	writing-mode: vertical-rl;
	margin-top: rem(52);
	margin-inline: auto;
	@include mq(md){
		margin: rem(20) 0 0 0;
		font-size: rem(22);
		line-height: 1.9;
		letter-spacing: 0.4em;
	}
}

.about__image {
	aspect-ratio: 240 / 333;
	width: 69.5652%;
	margin-top: rem(40);
	margin-inline: auto;
	@include mq(md){
		aspect-ratio: 360 / 500;
		width: 30%;
		margin: 0;
	}
}

.about__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__text {
	font-size: rem(14);
	font-weight: $light;
	letter-spacing: 0.05em;
	line-height: calc(26 / 14);
	color: $base-color;
	padding: 0 rem(20);
	margin-top: -78px;
	@include mq(md){
		font-size: rem(16);
		line-height: 2;
		padding: 0;
		margin: rem(-60) rem(300) 0;
	}
}

.about__button {
	text-align: center;
	margin-top: rem(30);
	@include mq(md){
		margin-top: rem(40);
	}
}