@use "global" as *;

.button {
	display: inline-block;
	width: rem(173);
	padding: rem(14) 0;
	color: $base-color;
	font-size: rem(14);
	font-weight: $regular;
	letter-spacing: 0.05em;
	background: #272625;
	border: 1px solid $base-color;
	border-radius: 6px;
	text-align: center;
	position: relative;
	transition: 0.4s box-shadow, 0.4s border-color;
	@include mq(md){
		width: rem(204);
		font-size: rem(16);
		padding: rem(16) 0;
	}
	&:hover {
		box-shadow: 0 rem(7) rem(7) rgba(0,0,0,0.5);
		border-color: transparent;
	}
}

.button::after {
	content: "";
	display: inline-block;
	width: rem(5);
	height: rem(10);
	background-image: url(../images/common/button-arrow.png);
	background-size: contain;
	position: absolute;
	top: 50%;
	right: rem(22);
	transform: translateY(-50%);
	@include mq(md){
		right: rem(32);
	}
}

.button.contact-btn {
	width: rem(227);
	background: transparent;
	@include mq(md){
		width: rem(266);
		background: #272625;
	}
}

.button.contact-btn::after {
	right: rem(15);
	@include mq(md){
		right: rem(24);
	}
}