@use "global" as *;

.tab {
	width: 100%;
}

.tab__list {
	display: flex;
	justify-content: center;
	gap: rem(45);
	cursor: pointer;
	@include mq(md){
		gap: rem(55);
	}
}

.tab__item {
	color: $base-color;
	font-size: rem(14);
	letter-spacing: 0.05em;
	font-weight: $regular;
	padding-bottom: rem(4);
	@include mq(md){
		font-size: rem(16);
		padding-bottom: rem(6);
	}
}

.tab__item.is-active {
	border-bottom: 1px solid #707070;
}

.tab__content-wrap {
	display: none;
}

.tab__content {
	margin-top: rem(50);
	padding-left: rem(47.5);
	padding-right: rem(47.5);
	@include mq(md){
		display: flex;
		justify-content: center;
		gap: rem(20);
		padding: 0;
	}
}

.tab__content-card + .tab__content-card {
	margin-top: rem(40);
	@include mq(md){
		margin-top: 0;
	}
}
